.category.uncategorized{
	background: #eee!important;
	box-shadow: inset .3ex .3ex .2em rgba(0,0,0,.4);
}
.category.good-faith{
	background: #afa!important;
}
.category.good-faith.selected{
	background: #bfb!important;
}
.category.ambiguous{
	background: #ffa!important;
}
.category.ambiguous.selected{
	background: #ffb!important;
}
.category.bad-faith{
	background: #faa!important;
}
.category.bad-faith.selected{
	background: #fbb!important;
}


