dl {
	margin: 0px;
	padding-left: 1em;
}
	dl dt {
		display: inline-block;
		font-weight: bold;
		margin: 0px;
		margin-right: 1em;
	}
	dl dd {
		display: inline-block;
		margin: 0px;
	}

.button{
	display: inline-block;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: #ddd;
	box-shadow: inset 0px -5px 10px rgba(0,0,0,.3);
	text-shadow: 2px 2px rgba(255,255,255,.5);
	border-radius: 3px;
	border: 1px solid #666;
}
	.button span{
		padding: .2em .5em;
	}

div.dropper {
	position: relative;
}

	div.dropper div.tab{
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	div.dropper div.pane{
		position: absolute;
		top: 100%;
		left: 0px;
	}
