dl {
	margin: 0px;
	padding-left: 1em;
}
	dl dt {
		display: inline-block;
		font-weight: bold;
		margin: 0px;
		margin-right: 1em;
	}
	dl dd {
		display: inline-block;
		margin: 0px;
	}

.button{
	display: inline-block;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: #ddd;
	box-shadow: inset 0px -5px 10px rgba(0,0,0,.3);
	text-shadow: 2px 2px rgba(255,255,255,.5);
	border-radius: 2px;
	border: 1px solid #666;
}
	.button span{
		padding: .2em .5em;
	}

div.dropper {
	position: relative;
}

	div.dropper div.tab{
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	div.dropper div.pane{
		position: absolute;
		top: 100%;
		left: 0px;
	}

div.dropper.simple{
	display: inline-block;
}
div.dropper.simple div.tab {
	border: 1px solid black;
	width: 1em;
	height: 1em;
	border-radius: 3px;
	text-align: center;
}
	div.dropper.simple div.tab span {
		display: inline-block;
		border: .4em solid #000;
		border-color: #000 transparent transparent transparent;
		border-width: .4em .3em 0px .3em;
		vertical-align: center;
		margin-top: .3em;
	}
	div.dropper.simple.expanded div.tab span {
		border-color: transparent transparent #000 transparent;
		border-width: 0px .3em .4em .3em;
	}
	
	
	.thread_icon{
		border-color: blue;
		background: #ccf;
		box-shadow: 0px 0px 4px blue;
		border-radius: 1em;
		height: 1.4em;
		font-size: .9em;
		font-weight: bold;
		margin-right: .5em;
		color: #000;
		text-align: center;
		border-width: 2px;
		border-style: solid;
		padding: 0px .5em;
	}
	.thread_icon:before{
		content: "\0000a0";
	}
	
	.thread_icon.warning{
		border-color: #933;
		background: #fcc;
		box-shadow: 0px 0px 4px #933;
	}
	.thread_icon.warning:before{
		content: "W";
	}
	
	.thread_icon.warning.vandal{
		border-color: #600;
		background: #f66;
		box-shadow: 0px 0px 4px #600;
	}
	.thread_icon.warning.vandal:before{
		content: "V";
	}
	.thread_icon.level_1:after{
		content: "1";
		vertical-align: super;
		font-size: .6em;
	}
	.thread_icon.level_2:after{
		content: "2";
		vertical-align: super;
		font-size: .6em;
	}
	.thread_icon.level_3:after{
		content: "3";
		vertical-align: super;
		font-size: .6em;
	}
	.thread_icon.level_4:after{
		content: "4";
		vertical-align: super;
		font-size: .6em;
	}
	
	.thread_icon.block{
		border-color: #000;
		background: #ccc;
		box-shadow: 0px 0px 4px #000;
	}
	.thread_icon.block:before{
		content: "block";
	}
	
	.thread_icon.csd{
		border-color: #bb0;
		background: #ff0;
		box-shadow: 0px 0px 4px #bb0;
	}
	.thread_icon.csd:before{
		content: "csd";
	}
	
	.thread_icon.afc{
		border-color: #aaf;
		background: #fff;
		box-shadow: 0px 0px 4px #aaf;
	}
	.thread_icon.afc:before{
		content: "afc";
	}
	
	.thread_icon.welcome{
		border-color: #66F;
		background: #eef;
		box-shadow: 0px 0px 4px #66F;
	}
	.thread_icon.welcome:before{
		content: "W";
	}
	
	.thread_icon.copyright{
		border-color: #660;
		box-shadow: 0px 0px 4px #660;
	}
	.thread_icon.copyright:before{
		content: "\00a9";
	}
