div#help{
	width: 50%;
	font-size: .9em;
}

div.slider{
	position: relative;
	z-index: 10;
	display: inline-block;
	vertical-align: top;
	margin-left: -1px;
	margin-top: -1px;
	white-space: normal;
}
div.slider:first-of-type{
	margin-left: 0px;
}
	div.slider div.pane{
		max-height: 1px;
		background: #fff;
		overflow: hidden;
		padding: 0px 1em;
		overflow-y: auto;
	}
	div.slider.expanded div.pane{
		border-bottom: 1px solid black;
		border-left: 1px solid black;
		background: #fff;
		box-shadow: 6px 6px 3px rgba(0,0,0,0.3);
		padding: .5em 1em;
	}
	div.slider div.tab{
		position: relative;
		z-index: 11;
		color: #000;
		text-shadow: 1px 1px rgba(255, 255, 255, .5);
		background: #88e;
		border: 1px solid #333;
		border-top: 0px;
		box-shadow: 6px 6px 3px rgba(0,0,0,0.3);
		cursor: pointer;
		font-size: 1.2em;
	}
	div.slider div.tab span{
		display: block;
		padding: 0em 1em;
		box-shadow: inset 0px .4em 4px #aaf;
	}
	div.slider.help div.tab{
		float:right;
		border-radius: 0px 0px 0px 1em;
	}
	div.slider.help div.tab span{
		border-radius: 0px 0px 0px 1em;
	}
	div.slider.help div.pane{
		width: 100%;
	}
	div.slider.expanded div.pane{
		max-height: 70%;
	}

div.slider div.pane a{
	text-decoration: none;
}

div.help span.revision{
	border: 1px solid #666;
}

div.help h3{
	margin: .5em 0px;
	padding: 0px;
}

div#help span.revision{
	padding: 0px .5em;
	margin: 0px;
}
