.help_content{
	padding: 1em;
}

.help_content a{
	text-decoration: none;
}

.help_content .revision{
	display: inline-block;
	border: 1px solid #333;
	min-height: 1em;
	min-width: 1em;
}

.help_content .key{
	display: inline-block;
	background: #e6e6e6;
	border: 1px solid #333;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
	padding: .1em .5em;
	text-align: center;
	font-family: monospace;
}

.help_content h1,
.help_content h2,
.help_content h3{
	border-bottom: 1px solid #333;
	margin: .5em 0px;
	padding: 0px;
}

.figures.center {
	text-align: center;
}
.figure {
	display: inline-block;
	vertical-align: top;
	border: 1px solid #999;
	background: #f0f0f0;
	padding: .5em;
	margin-bottom: .5em;
}
	.figure .pane{
		display: block;
		background: #fff;
		border: 1px solid #aaa;
		border-color: #ccc #aaa #aaa #ccc;
	}
	.figure .caption{
		margin-top: 1em;
		text-align: left;
	}
