* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	height: 100%;
	font-family: sans-serif;
	padding: 0px;
	margin: 0px;
	box-shadow: inset 0px 0px 250px #000;
}

div#help{
	position: fixed;
	z-index: 10;
	top: 0px;
	right: 0px;
	white-space: nowrap;
}

div#status{
	display: inline-block;
}

div#snuggler{
	display: inline-block;
	position: relative;
	z-index: 10;
	vertical-align: top;
}




