/* TODO: This is sort of a misc, catch-all */

body{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	height: 100%;
	padding: 0px;
	margin: 0px;
	background: #ddd;
	box-shadow: inset 0px 0px 250px #000;
	height: 100%;
	font-family: sans-serif;
}

.clickable {
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

dl {
	margin: 0px;
	padding-left: 1em;
}
	dl dt {
		display: inline-block;
		font-weight: bold;
		margin: 0px;
		margin-right: 1em;
	}
	dl dd {
		display: inline-block;
		margin: 0px;
	}
	
a {
	text-decoration: none;
}
