.trace_icon{
	border-color: blue;
	background: #ccf;
	box-shadow: 0px 0px 4px blue;
	border-radius: 1em;
	height: 1.4em;
	font-size: .9em;
	font-weight: bold;
	margin-right: .5em;
	color: #000;
	text-align: center;
	border-width: 2px;
	border-style: solid;
	padding: 0px .5em;
}
.trace_icon:before{
	content: "\0000a0";
}

.trace_icon.warning{
	border-color: #933;
	background: #fcc;
	box-shadow: 0px 0px 4px #933;
}
.trace_icon.warning:before{
	content: "W";
}

.trace_icon.warning.vandal{
	border-color: #600;
	background: #f66;
	box-shadow: 0px 0px 4px #600;
}
.trace_icon.warning.vandal:before{
	content: "V";
}
.trace_icon.level_1:after{
	content: "1";
	vertical-align: super;
	font-size: .6em;
}
.trace_icon.level_2:after{
	content: "2";
	vertical-align: super;
	font-size: .6em;
}
.trace_icon.level_3:after{
	content: "3";
	vertical-align: super;
	font-size: .6em;
}
.trace_icon.level_4:after{
	content: "4";
	vertical-align: super;
	font-size: .6em;
}

.trace_icon.block{
	border-color: #000;
	background: #ccc;
	box-shadow: 0px 0px 4px #000;
}
.trace_icon.block:before{
	content: "block";
}

.trace_icon.csd{
	border-color: #bb0;
	background: #ff0;
	box-shadow: 0px 0px 4px #bb0;
}
.trace_icon.csd:before{
	content: "csd";
}

.trace_icon.deletion{
	border-color: #b90;
	background: #fa0;
	box-shadow: 0px 0px 4px #b90;
}
.trace_icon.deletion:before{
	content: "del";
}

.trace_icon.afc{
	border-color: #aaf;
	background: #fff;
	box-shadow: 0px 0px 4px #aaf;
}
.trace_icon.afc:before{
	content: "afc";
}

.trace_icon.welcome{
	border-color: #66F;
	background: #eef;
	box-shadow: 0px 0px 4px #66F;
}
.trace_icon.welcome:before{
	content: "W";
}

.trace_icon.copyright{
	border-color: #660;
	box-shadow: 0px 0px 4px #660;
}
.trace_icon.copyright:before{
	content: "\00a9";
}

.trace_icon.teahouse{
	border-color: #6d6;
	background: #9f9;
	box-shadow: 0px 0px 4px #6d6;
}
.trace_icon.teahouse:before{
	content: "TH";
}
