div.action_menu {
	position: relative;
	white-space: nowrap;
	z-index: 2;
	font-weight: normal;
}

div.action_menu .handles {
	position: relative;
	display: inline-block;
	border: 1px solid #333;
	vertical-align: top;
	box-shadow: 6px 6px 3px rgba(0,0,0,0.3);
}
	div.action_menu .handles .handle:last-child{
		border-bottom: none;
	}
	div.action_menu .handles .handle{
		padding: 0em .5em;
		border-bottom: 1px solid #333;
		white-space: nowrap;
		background: #e0e0e0;
		cursor: pointer;
		padding-top: .2em;
		padding-bottom: .2em;
	}
	div.action_menu .handles .handle.selected,
	div.action_menu .handles .handle:hover{
		background: #f6f6f6;
	}
	div.action_menu .handles .handle.selected{
		position: relative;
		z-index: 3;
		margin-right: -.2em;
		padding-right: .2em;
		font-weight: bold;
	}
	
div.action_menu .flyout {
	display:none;
	position: absolute;
	left: 100%;
	top: 0px;
	vertical-align: top;
	white-space: nowrap;
	min-height: 15em;
	background: #f6f6f6;
	border: 1px solid #333;
	margin: 0px;
	box-shadow: 6px 6px 3px rgba(0,0,0,0.3);
}
div.action_menu .flyout.expanded {
	display: block;
	/* Width controlled in javascript */
}

	div.action_menu .flyout .form {
		display: inline-block;
		vertical-align: top;
		width: 25em;
	}
	div.action_menu .flyout .panel {
		display: inline-block;
		position: relative;
		/* Width and height controlled in javascript */
	}
		div.action_menu .flyout .panel .previewer {
			position: absolute;
			overflow: auto;
			overflow-y: scroll;
			top: 0px;
			right: 0px;
			left: 0px;
			bottom: 2.50em;
			background: #bbb;
			border-top: 0px;
			border-right: 0px;
			font-family: sans-serif;
			white-space: normal;
		}
		div.action_menu .flyout .panel .previewer .status{
			position: absolute;
			z-index: 0;
			bottom: 0px;
			left: 0px;
			right: 0px;
			display: block;
			text-align: center;
			color: rgba(255,255,255,.2);
			font-size: 5em;
		}
		div.action_menu .flyout .panel .controls {
			position: absolute;
			right: 0px;
			bottom: 0px;
			text-align: right;
			height: 1.75em;
			padding-right: .5em;
		}
		div.action_menu .flyout .panel .controls .watch,
		div.action_menu .flyout .panel .controls .cancel,
		div.action_menu .flyout .panel .controls .submit{
			display: inline-block;
			margin-left: .5em;
		}
		div.action_menu .flyout .panel .controls .submit{
			padding-left: 1em;
			padding-right: 1em;
			font-weight: bold;
		}


div.action_menu div.form{
	width: 25em;
	padding: .5em;
	position: relative;
	margin-bottom: 1em;
}
div.action_menu form{
	display: block;
	margin: 0px;
	padding: 0px;
}
div.action_menu form p,
div.action_menu form .field{
	margin: 0px;
	margin-bottom: .5em;
	padding: .2em .5em .5em .5em;
	white-space: normal;
	width: 100%;
}
div.action_menu form .field{
	background: #e0e0e0;
}
	div.action_menu form .field > label{
		display: block;
		font-weight: bold;
		margin-bottom: .3em;
	}
	div.action_menu form .field.text input,
	div.action_menu form .field.textarea textarea{
		width: 100%;
	}
	div.action_menu form .field.textarea textarea{
		height: 5.5em;
	}
	div.action_menu form .field.radios .radio_option{
		display: inline-block;
		margin-left: .5em;
		padding: .1em .2em;
		border: 1px solid #aaa;
		border-radius: .5em;
	}
	div.action_menu form .field.radios .radio_option.selected{
		background: #f6f6f6;
	}
	div.action_menu form .field.radios .radio_option label{
		margin-left: .25em;
		padding-right: .2em;
		display: inline-block;
	}

div.action_menu .previewer .operations{
	display: inline-block;
	position: relative;
	z-index: 1;
	min-width: 100%;
	padding: .5em;
}
div.action_menu .previewer .operation{
	margin-bottom: .5em;
}
div.action_menu .previewer .operation .description{
	background: #eee;
	border: 1px solid black;
	padding: .2em .5em;
	box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}
div.action_menu .previewer .operation .wiki_format{
	margin-left: .5em;
	font-family: sans-serif;
	border: 1px solid black;
	border-top: none;
	box-shadow: 2px 2px 2px rgba(0,0,0,.2);
	overflow: hidden;
}
div.action_menu .previewer .operation .wiki_format.comment{
	font-style: italic;
}
div.action_menu .previewer .operation .wiki_format.comment:before{
	content: "summary: ";
	font-style: normal;
	font-weight: bold;
}
div.action_menu .previewer .operation.error .description{
	background: #f99;
	border: 2px solid black;
}
