div.categorizer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: #ddd;
	padding: .5em 1em 1em 1em;
	border: 1px solid #000;
	z-index: 1;
}

div.categorizer > .history{
	position: absolute;
	top: 0px;
	right: 1em;
	font-size: .9em;
}
	div.categorizer > .history >.tab{
		position: relative;
		border: 1px solid black;
		border-radius: 0px 0px 5px 5px;
		border-top: 0px;
		padding: 0px 1em;
		background: #ddd;
		box-shadow: inset 0px -.25em .5em rgba(0,0,0,.2);
		text-shadow: 1px 1px rgba(255,255,255,.5);
	}
	div.categorizer > .history.expanded > .tab{
		box-shadow: inset 0px .25em .5em rgba(0,0,0,.2);
	}
	
	div.categorizer > .history > .pane{
		z-index: 3;
		background: #f6f6f6;
		border: 1px solid black;
		min-width: 300px;
		white-space: nowrap;
		box-shadow: 6px 6px 3px rgba(0,0,0,0.3);
	}
		div.categorizer > .history > .pane p{
			margin: 0px;
			padding: .5em;
		}
		div.categorizer .history .history > table {
			font-size: .9em;
		}
		div.categorizer .history .history > table td {
			padding: 0ex .5em;
		}
		div.categorizer .history .history > table td.category,
		div.categorizer .history .history > table td.timestamp,
		div.categorizer .history .history > table td.snuggler {
			border: none;
			white-space: nowrap;
			vertical-align: top;
		}
		div.categorizer .history .history > table td.comment {
			min-width: 15em;
			font-style: italic;
		}
		div.categorizer .history .history > table td.comment.empty {
			color: #666;
		}


div.categorizer > .form{
	display: none;
	position: absolute;
	left: .5em;
	right: .5em;
	bottom: 100%;
	margin-bottom: .5em;
	border: 1px solid #333;
	background: #d6d6d6;
	z-index: .5;
	padding: .5ex .5em;
	font-size: .9em;
	box-shadow: 6px 6px 3px rgba(0,0,0,.3);
}
div.categorizer > .form.expanded{
	display: block;
}
	div.categorizer > .form > .field{
		display
	}
		div.categorizer > .form > .field > label{
			font-weight: bold;
			margin-right: .5em;
		}
		div.categorizer > .form > .field > input{
			width: 100%;
		}
	div.categorizer > .form > .controls{
		text-align: right;
	}
		div.categorizer > .form > .controls > .cancel{}
		div.categorizer > .form > .controls > .save{
			font-weight: bold;
			margin-left: .5em;
		}
div.categorizer > .categories{
	text-align: center;
	padding-top: .5em;
}
	div.categorizer > .categories > .button{
		width: 30%;
		border: 1px solid  #333;
		margin-right: 3%;
	}
	div.categorizer > .categories > .button.selected{
		border-width: .25ex;
		box-shadow: none;
	}
	div.categorizer > .categories > .button.selected > span{
	}


