div.dropper {
	position: relative;
	display: inline-block;
}
div.dropper:focus{
	outline: none;
}
	div.dropper div.pane{
		position: absolute;
		padding: 0px;
		top: 100%;
		left: 0px;
		height: auto;
	}

div.dropper > div.tab {
	display: inline-block;
	border: 1px solid black;
	border-radius: 3px;
	text-align: center;
}
	div.dropper > div.tab span.label {
		display: inline-block;
		margin-left: .2em;
	}
	div.dropper > div.tab span.status {
		display: inline-block;
		vertical-align: middle;
		border: .4em solid #000;
		border-color: #000 transparent transparent transparent;
		border-width: .4em .3em 0px .3em;
		vertical-align: center;
		margin: .3em .2em;
	}
	div.dropper.expanded > div.tab span.status {
		border-color: transparent transparent #000 transparent;
		border-width: 0px .3em .4em .3em;
	}
