div.event {
	font-family: sans-serif;
	padding: 0px;
	margin-bottom: .5em;
	border: 1px solid #333;
	background: #f6f6f6;
	box-shadow: 2px 2px 2px rgba(0,0,0,.2);
	font-size: .9em;
}

	div.event .system_time{
		display: inline-block;
		vertical-align: top;
		text-align: center;
		margin-bottom: -1px;
		border-right: 1px solid #333;
		border-bottom: 1px solid #333;
		padding: .3em .5em;
		padding-bottom: .4em;
		background: #e6e6e6;
	}
		div.event .system_time span{
			display: inline-block;
			min-width: 10em;
		}
	div.event .summary{
		display: inline-block;
		vertical-align: top;
		padding: .3em .5em;
		white-space: normal;
	}
	div.event .comment{
		display: inline-block;
		vertical-align: top;
		padding: .3em .5em;
		font-style: italic;
		color: #666;
	}
	div.event .comment.empty{
		color: #aaa;
	}


div.event.user_actioned{
	
}
	div.event.user_actioned .snuggler{
		display: inline-block;
	}
	div.event.user_actioned .user_container{
		display: inline-block;
		margin-bottom: -2px;
	}

div.event.user_categorized{
	
}
	div.event.user_categorized .category{
		padding: 0em .3em;
		border: 1px solid #333;
	}
