span.element{
	display: inline-block;
	position: relative;
	padding: .4em .5em .7em .5em;
	background: #ff0;
	border: .05em solid #880;
	border-radius: .2em;
	box-shadow: inset -.2em -.3em 1em rgba(0,0,0,.2);
	font-weight: bold;
}
	span.element span.number{
		display: block;
		position: absolute;
		top: .2em;
		left: .5em;
		font-size: .4em;
	}
	span.element span.shells{
		display: block;
		position: absolute;
		top: .5em;
		right: .5em;
		font-size: .2em;
		font-weight: normal;
		text-align: right;
	}
		span.element span.shells span{
			display: block;
		}
	span.element span.symbol{
		display: block;
	}
	span.element span.footer{
		display: block;
		position: absolute;
		bottom: .13em;
		left: .25em;
	}
	span.element span.name{
		display: block;
		font-size: .35em;
		font-weight: normal;
	}
	span.element span.mass{
		display: block;
		font-size: .2em;
		font-weight: normal;
	}
