div.welcome,
div.user_browser{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
}
div.welcome{
	z-index: 9; /* Right beneath the system_status, snuggler and help */
}
div.user_browser{
	z-index: 1; /* On the bottom -- beneath everything */
}



