div.user {
	position: relative;
	height: 2em;
	background: #eee;
	margin: .5em 1em;
	box-shadow: 2px 2px 2px rgba(0,0,0,.2);
	border: 1px solid #333;
}
div.user.selected {
	/*outline: 3px solid rgba(0,0,200,.5);*/
}
div.user.expanded {
	height: 20em;
}
	div.user .info{
		position: relative;
		display: inline-block;
		width: 25%;
		height: 100%;
		vertical-align: top;
		padding: .4em .5em;
	}
	div.user div.activity{
		display: inline-block;
		width: 40%;
		height: 100%;
		vertical-align: top;
	}
	div.user div.talk{
		display: inline-block;
		width: 35%;
		height: 100%;
		vertical-align: top;
	}


/**********************************Info     ***********************************/
div.user div.info .name{
	display: block;
	width: 100%;
	padding: .10em;
	margin: -.10em;
	font-weight: bold;
	white-space: nowrap;
	position: relative;
}

div.user div.info .name .user_actions{
	display: none;
	position: absolute;
	top: .2em;
	right: .2em;
	font-size: .9em;
}
	
	div.user div.info.expanded .name .user_actions {
		display: block;
	}
	
	div.user div.info .name .current_category {
		display: none
	}
	
	div.user div.info .name .current_category.categorized {
		display: inline-block;
		border-radius: .5em;
		padding: 0em .25em;
		margin-right: .5em;
		background: #777;
		color: #fff;
	}

div.user div.info.viewed .name{
	font-weight: normal;
}

div.user div.info div.utc{
	margin: .5em 0px;
}
div.user div.info div.utc a{
	padding: 0px .5em;
	text-decoration: none;
}
div.user div.info div.utc a.does_not_exist{
	color: #F00;
	
}

div.user div.info dl{
	margin: .5em 0px;
	font-size: .9em;
}

div.user div.info div.edit_counts div.dropper{
	margin-left: .25em;
	vertical-align: top;
}

	div.user div.info div.edit_counts div.dropper .pane{
		background: #fff;
		border: 1px solid black;
		padding: .5em;
		box-shadow: 6px 6px 3px rgba(0,0,0,0.3);
		z-index: 8;
		width: 15em;
	}
	div.user div.info div.edit_counts div.dropper .pane table{
		width: 100%;
		font-size: .9em;
	}
		div.user div.info div.edit_counts div.dropper .pane th{
			text-align: right;
		}
		div.user div.info div.edit_counts div.dropper .pane td{
			width: 100%;
			position: relative;
			padding-left: .5em;
		}
		div.user div.info div.edit_counts div.dropper .pane td div.bar{
			border: 1px solid #666;
			overflow: visible;
		}
		div.user div.info div.edit_counts div.dropper .pane td div.bar span{
			padding-left: .5em;
		}
	

div.user div.category {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: #ddd;
	padding: .5em 1em 1em 1em;
	box-shadow: 0px 0px 10px #000;
}

div.user div.category div.history{
	position: absolute;
	top: 0px;
	right: 1em;
	font-size: .9em;
}
	div.user div.category div.history div.tab{
		position: relative;
		border: 1px solid black;
		border-radius: 0px 0px 5px 5px;
		border-top: 0px;
		padding: 0px 1em;
		background: #ddd;
		box-shadow: inset 0px -.25em .5em rgba(0,0,0,.2);
		text-shadow: 1px 1px rgba(255,255,255,.5);
	}
	div.user div.category div.history.expanded div.tab{
		box-shadow: inset 0px .25em .5em rgba(0,0,0,.2);
	}
	
	div.user div.category div.history div.pane{
		z-index: 3;
		background: #f6f6f6;
		border: 1px solid black;
		min-width: 200px;
		white-space: nowrap;
		box-shadow: 6px 6px 3px rgba(0,0,0,0.3);
	}
		div.user div.category div.history div.pane p{
			margin: 0px;
			padding: .5em;
		}
		
		div.user div.category div.history div.pane ul{
			padding: .5em;
			margin: 0px;
		}
			div.user div.category div.history div.pane ul li{
				list-style: none;
				border-bottom: 1px dashed #888;
			}
				div.user div.category div.history div.pane ul li span,
				div.user div.category div.history div.pane ul li a {
					margin: .25em;
				}
				div.user div.category div.history div.pane ul li span.timestamp{
					width: 10em;
					text-align: right;
				}
				div.user div.category div.history div.pane ul li span.category{
					width: 6em;
					border-width: 3px;
					border-style: double;
				}
					div.user div.category div.history div.pane ul li span.category.good-faith{
						background: #afa;
					}
					div.user div.category div.history div.pane ul li span.category.bad-faith{
						background: #faa;
					}
				div.user div.category div.history div.pane ul li a.snuggler {}
		

div.user .category .radios.field > label{
	display: block;
	font-weight: bold;
	margin-bottom: .5em;
}
div.user .category .radios.field .radios{
	text-align: center;
}
div.user .category .radios.field .radio_option {
	display: inline-block;
	border: 1px solid black;
	border-radius: .25em;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
	width: 30%;
	margin-right: 2%;
	padding: .25em 0em;
}
div.user .category .radios.field .radio_option.selected{
	border-width: 3px;
}
div.user .category .radios.field .radio_option.ambiguous{font-weight: bold;}

	div.user .category .radios.field .radio_option label{
		display: block;
		font-weight: bold;
	}
	
	div.user .category .radios.field .radio_option input {
		display: none;
	}



/********************************Activty***************************************/
div.user div.activity {
	overflow: hidden;
}
div.user.expanded div.activity {
	overflow: visible;
}

div.user div.activity div.revision{
	/*background: #eee;*/
}


/********************************Talk******************************************/
div.user div.talk{
	overflow: hidden;
	white-space: nowrap;
	text-align: right;
	padding: .3em 1em;
}

div.user div.talk.expanded{
	overflow-y: auto;
	white-space: normal;
}

div.user div.talk div.threads{
	text-align: left;
}

div.user div.talk div.threads div.thread{
	display: inline-block;
}
div.user div.talk div.threads div.thread dd{
	display: none;
}

div.user div.talk.expanded div.threads div.thread{
	display: block;
	margin-bottom: .5em;
	white-space: nowrap;
	width: 100%;
}
div.user div.talk.expanded div.threads div.thread dt{
	display: block;
	float: left;
}
div.user div.talk.expanded div.threads div.thread dd{
	display: inline;
	white-space: normal;
	word-wrap: break-word;
	margin-left: 0px;
}

div.user div.talk div.threads div.thread dt{
	display: inline-block;
	vertical-align: top;
}

div.user div.talk div.reloader {
	display: none;
}
div.user div.talk.expanded div.reloader {
	display: inline-block;
}




