div.user_list div.user {
	position: relative;
	box-shadow: 0px 0px 2em rgba(0,0,0,.8);
	height: 2em;
	background: #eee;
	margin: 1em;
}
div.user_list div.user.selected {
	outline: 3px solid rgba(0,0,200,.5);
}
div.user_list div.user.expanded {
	height: 20em;
	overflow: visible;
}
	div.user_list div.user div.info{
		display: inline-block;
		width: 25%;
		vertical-align: top;
		padding: .4em .5em;
	}
	div.user_list div.user div.contribs{
		display: inline-block;
		width: 40%;
		vertical-align: top;
		height: 100%;
	}
	div.user_list div.user div.talk{
		display: inline-block;
		width: 35%;
		vertical-align: top;
		padding: .5em 1em;
	}
	div.user_list div.user div.category{
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 25%;
	}


/**********************************Info     ***********************************/
div.user div.info .name{
	display: block;
	width: 100%;
	padding: .10em;
	margin: -.10em;
	font-weight: bold;
	white-space: nowrap;
	position: relative;
}
div.user div.info .name:hover{
	background: #fff;
}
	div.user div.info .name .dropper{
		display: none;
		position: absolute;
		top: .2em;
		right: .2em;
	}
	div.user div.info .name:hover .dropper, div.user div.info .name .dropper.expanded{
		display: block;
	}
	div.user div.info .name .dropper .pane{
		background: #fff;
		border: 1px solid black;
		box-shadow: 6px 6px 3px rgba(0,0,0,0.3);
		z-index: 9;
	}
	div.user div.info .name .dropper .pane a{
		display: block;
		text-decoration: none;
		border-bottom: 1px solid #008;
		text-align: center;
		font-weight: normal;
		width: 7em;
	}
	div.user div.info .name .dropper .pane a:hover{
		background: #ddF;
	}

div.user.good-faith div.info .name:before{
	content: "\2714\0000a0";
}
div.user.bad-faith div.info .name:before{
	content: "\2718\0000a0";
}
div.user.ambiguous div.info .name:before{
	content: "?\0000a0";
	font-weight: bold;
}
div.user div.info.viewed .name{
	font-weight: normal;
}

div.user div.info dl{
	margin: .5em 0px;
	font-size: .9em;
}

div.user div.info span.edit_counts div.dropper{
	margin-left: .25em;
	vertical-align: top;
}

	div.user div.info span.edit_counts div.dropper .pane{
		background: #fff;
		border: 1px solid black;
		padding: .5em;
		box-shadow: 6px 6px 3px rgba(0,0,0,0.3);
		z-index: 8;
		width: 15em;
	}
	div.user div.info span.edit_counts div.dropper .pane table{
		width: 100%;
		font-size: .9em;
	}
		div.user div.info span.edit_counts div.dropper .pane th{
			text-align: right;
		}
		div.user div.info span.edit_counts div.dropper .pane td{
			width: 100%;
			position: relative;
			padding-left: .5em;
		}
		div.user div.info span.edit_counts div.dropper .pane td div.bar{
			border: 1px solid #666;
			overflow: visible;
		}
		div.user div.info span.edit_counts div.dropper .pane td div.bar span{
			padding-left: .5em;
		}
	




/********************************Contribs**************************************/
div.user div.contribs {
	height: 100%;
	overflow: hidden;
}
div.user.expanded div.contribs {
	height: auto;
	overflow: visible;
}


div.user div.contribs div.revision{
	/*background: #eee;*/
}
.revision.ns_0{
	background: #dfd;
}
.revision.ns_1{
	background: #afa;
}
.revision.ns_2{
	background: #ddf;
}
.revision.ns_3{
	background: #aaf;
}
.revision.ns_4{
	background: #dff;
}
.revision.ns_5{
	background: #aff;
}
.revision.ns_6{
	background: #ffd;
}
.revision.ns_7{
	background: #ffa;
}
.revision.ns_10{
	background: #fdd;
}
.revision.ns_11{
	background: #faa;
}
.revision.ns_12{
	background: #eee;
}
.revision.ns_13{
	background: #ddd;
}
.revision.ns_14{
	background: #afd;
}
.revision.ns_15{
	background: #8fa;
}
.revision.reverted{
	background-image: url('../img/dot.png');
	background-position: center center;
	background-repeat: no-repeat;
}

/********************************Talk******************************************/
div.user div.talk{
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
}

div.user div.talk.expanded{
	overflow-y: auto;
	white-space: normal;
}

div.user div.talk div.thread{
	display: inline-block;
}
div.user div.talk div.thread dd{
	display: none;
}

div.user div.talk.expanded div.thread{
	display: block;
	margin-bottom: .5em;
	white-space: nowrap;
	width: 100%;
}
div.user div.talk.expanded div.thread dt{
	display: block;
	float: left;
}
div.user div.talk.expanded div.thread dd{
	display: inline;
	white-space: normal;
	word-wrap: break-word;
	margin-left: 0px;
}


div.user div.talk div.thread dt{
	display: inline-block;
	vertical-align: top;
}
	
/**************************Category   *****************************************/
div.user div.category {
	background: #ddd;
	padding: 2em 1em 1em 1em;
	box-shadow: 0px 0px 10px #000;
}

div.user div.category span.header{
	position: absolute;
	top: 0px;
	left: 1em;
	font-weight: bold;
}

div.user div.category div.history{
	position: absolute;
	top: 0px;
	right: 1em;
	font-size: .9em;
	z-index: 2;
}
	div.user div.category div.history div.tab{
		position: relative;
		border: 1px solid black;
		border-radius: 0px 0px 5px 5px;
		border-top: 0px;
		padding: 0px 1em;
		box-shadow: inset 0px -.25em .5em rgba(0,0,0,.2);
		text-shadow: 1px 1px rgba(255,255,255,.5);
	}
	div.user div.category div.history.expanded div.tab{
		box-shadow: inset 0px .25em .5em rgba(0,0,0,.2);
	}
	
	div.user div.category div.history div.pane{
		z-index: 3;
		background: #f6f6f6;
		border: 1px solid black;
		min-width: 200px;
		white-space: nowrap;
		box-shadow: 6px 6px 3px rgba(0,0,0,0.3);
	}
		div.user div.category div.history div.pane p{
			margin: 0px;
			padding: .5em;
		}
		
		div.user div.category div.history div.pane ul{
			padding: .5em;
			margin: 0px;
		}
			div.user div.category div.history div.pane ul li{
				list-style: none;
				border-bottom: 1px dashed #888;
			}
				div.user div.category div.history div.pane ul li span,
				div.user div.category div.history div.pane ul li a {
					margin: .25em;
				}
				div.user div.category div.history div.pane ul li span.timestamp{
					width: 10em;
					text-align: right;
				}
				div.user div.category div.history div.pane ul li span.category{
					width: 6em;
					border-width: 3px;
					border-style: double;
				}
					div.user div.category div.history div.pane ul li span.category.good-faith{
						background: #afa;
					}
					div.user div.category div.history div.pane ul li span.category.bad-faith{
						background: #faa;
					}
				div.user div.category div.history div.pane ul li a.snuggler {}
		

div.user div.category div.buttons {
	text-align: right;
}
	div.user div.category div.button{
		position: relative;
		display: inline-block;
		border: 1px solid black;
		border-radius: .25em;
		white-space: nowrap;
		overflow: hidden;
		text-align: center;
		width: 30%;
		margin-right: 2%;
	}
		div.user div.category div.button span{
			display: block;
			border-radius: .25em;
			box-shadow: inset 0px -.25em .5em rgba(0,0,0,.3);
			padding: .25em 0px;
			text-shadow: 1px 1px rgba(255,255,255,.5);;
		}
		div.user div.category div.button:hover, div.user div.category div.button.selected{
			box-shadow: 0px 0px .2em rgba(0,0,0,.8);
		}
		div.user div.category div.button.selected span{
			box-shadow: inset 0px .25em .5em rgba(0,0,0,.3);
		}
	div.user div.category div.button.good-faith{
		background: #afa;
	}
	div.user div.category div.button.ambiguous{
		font-weight: bold;
	}
	div.user div.category div.button.bad-faith{
		background: #faa;
	}


