div.user_list div.user {
	box-shadow: 0px 0px 2em #000;
	height: 2em;
	background: #eee;
	margin: 1em;
}
div.user_list div.user.selected {
	outline: 3px solid rgba(0,0,200,.5);
}
div.user_list div.user.expanded {
	height: 20em;
}
	div.user_list div.user div.info{
		display: inline-block;
		width: 25%;
		vertical-align: top;
		padding: .4em .5em;
	}
	div.user_list div.user div.contribs{
		display: inline-block;
		width: 40%;
		vertical-align: top;
		height: 100%;
	}
	div.user_list div.user div.talk{
		display: inline-block;
		width: 35%;
		vertical-align: top;
		padding: .5em 1em;
	}


/**********************************Info     ***********************************/
div.user div.info .name{
	display: block;
	width: 100%;
	padding: .10em;
	margin: -.10em;
}
div.user div.info .name:hover{
	background: #fff;
}

div.user div.info dl{
	margin: .5em 0px;
	font-size: .9em;
}



/********************************Contribs**************************************/
div.user div.contribs div.revision{
	/*background: #eee;*/
}
.revision.ns_0{
	background: #dfd;
}
.revision.ns_1{
	background: #cfc;
}
.revision.ns_2{
	background: #ddf;
}
.revision.ns_3{
	background: #ccf;
}
.revision.ns_4{
	background: #dff;
}
.revision.ns_5{
	background: #cff;
}
.revision.ns_6{
	background: #ffd;
}
.revision.ns_7{
	background: #ffc;
}
.revision.ns_10{
	background: #fdd;
}
.revision.ns_11{
	background: #fcc;
}
.revision.ns_12{
	background: #eee;
}
.revision.ns_13{
	background: #fff;
}
.revision.ns_14{
	background: #afd;
}
.revision.ns_15{
	background: #afc;
}
.revision.reverted{
	background-image: url('../img/dot.png');
	background-position: center center;
	background-repeat: no-repeat;
}

/********************************Talk******************************************/
div.user div.talk{
	height: 100%;
	overflow: hidden;
}

div.user div.talk div.thread{
	display: inline-block;
}
div.user div.talk div.thread dd{
	display: none;
}

div.user div.talk.expanded div.thread{
	display: block;
	margin-bottom: .5em;
	white-space: nowrap;
}
div.user div.talk.expanded div.thread dd{
	display: inline-block;
	white-space: normal;
	margin-left: 0px;
}


div.user div.talk div.thread dt{
	display: inline-block;
	vertical-align: top;
	height: 1.4em;
	border-radius: .25em;
	font-size: .9em;
	font-weight: bold;
	text-align:center;
	margin-right: .5em;
	color: #000;
	text-align: center;
	border: 2px solid blue;
	padding: 0px .5em;
}
	div.user div.talk div.thread dt{
		border-color: blue;
		background: #ccf;
		box-shadow: 0px 0px 4px blue;
		border-radius: 1em;
	}
	div.user div.talk div.thread dt:before{
		content: "\0000a0";
	}
	
	div.user div.talk div.thread.warning dt{
		border-color: #933;
		background: #fcc;
		box-shadow: 0px 0px 4px #933;
	}
	div.user div.talk div.thread.warning dt:before{
		content: "W";
	}
	
	div.user div.talk div.thread.warning.vandal dt{
		border-color: #600;
		background: #e00;
		box-shadow: 0px 0px 4px #600;
	}
	div.user div.talk div.thread.warning.vandal dt:before{
		content: "V";
	}
	div.user div.talk div.thread.level_1 dt:after{
		content: "1";
		vertical-align: super;
		font-size: .6em;
	}
	div.user div.talk div.thread.level_2 dt:after{
		content: "2";
		vertical-align: super;
		font-size: .6em;
	}
	div.user div.talk div.thread.level_3 dt:after{
		content: "3";
		vertical-align: super;
		font-size: .6em;
	}
	div.user div.talk div.thread.level_4 dt:after{
		content: "4";
		vertical-align: super;
		font-size: .6em;
	}
	
	div.user div.talk div.thread.block dt{
		border-color: #000;
		background: #ccc;
		box-shadow: 0px 0px 4px #000;
	}
	div.user div.talk div.thread.block dt:before{
		content: "block";
	}
	
	div.user div.talk div.thread.csd dt{
		border-color: #bb0;
		background: #ff0;
		box-shadow: 0px 0px 4px #bb0;
	}
	div.user div.talk div.thread.csd dt:before{
		content: "csd";
	}
	
	div.user div.talk div.thread.welcome dt{
		border-color: #66F;
		background: #eef;
		box-shadow: 0px 0px 4px #66F;
	}
	div.user div.talk div.thread.welcome dt:before{
		content: "W";
	}
	
	div.user div.talk div.thread.copyright dt{
		border-color: #660;
		box-shadow: 0px 0px 4px #660;
	}
	div.user div.talk div.thread.copyright dt:before{
		content: "\00a9";
	}
